<%- include('partials/Header') %> <%- include('partials/NavBar') %>

<div class="container my-4">
	<h3 class="text-center mb-4">
		Edit your post, <%= formattedText(userData.User.dataValues.username) %>!
	</h3>

	<form
		action="/posts/YourPost/<%= userData.UserId %>/<%= userData.id %>/edit"
		method="post"
		enctype="multipart/form-data">
		<div class="form-group">
			<label for="exampleFormControlTextarea1" class="mb-1"
				>Edit your story here!</label
			>
			<textarea
				name="content"
				class="form-control"
				id="exampleFormControlTextarea1"
				rows="5"
				maxlength="280"><%= userData.content %></textarea>
			<h6 class="card-subtitle text-muted mt-2">
				Posted by <%= userData.User.Profile.name %> (<%=
				userData.User.dataValues.username %>) on <%=
				formattedDate(userData.createdAt) %> <%=
				formattedTime(userData.createdAt) %>
			</h6>
		</div>

		<div class="form-group my-4">
			<label for="imageUrl">Upload a new image (optional)</label>
			<input
				class="form-control-file"
				type="file"
				name="imageUrl"
				id="imageUrl" />
		</div>

		<button class="btn btn-primary" type="submit">Save Changes</button>
	</form>
</div>

<%- include('partials/footer') %>
