<%- include('partials/Header') %>
<%- include('partials/NavBar') %>

<br><br>

<p>Are you ready to tell your stories, <%= userData.username %>?</p>

<form action="/users/<%= userData.id %>/posts/create" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Write your stories here~</label>
    <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br><br>

  <input class="form-control" type="file" name="imageUrl">
  <br><br>

  <button class="btn btn-primary" type="submit">Post it</button>
</form>

<%- include('partials/footer') %>
