<%- include('partials/Header') %>
<%- include('partials/NavBar') %>

<div class="container my-4">
    <div class="row">
        <div class="col-md-8">
            <h1><%= dataPost.User.Profile.name %> - <%= dataPost.User.username %></h1>
            <p class="mb-3"><%= dataPost.content %></p>
            
            <% if (dataPost.imageUrl) { %>
            <img src="<%= dataPost.imageUrl %>" alt="Post Image" class="img-fluid mb-3" />
            <% } %>
            
            <p><small class="text-muted">Posted on <%= formattedDate(dataPost.createdAt) %></small></p>
            <p><small class="text-muted">Word Count: <%= dataPost.wordCount %></small></p>
        </div>
    </div>

    
</div>

<%- include('partials/Footer') %>
