<%- include('partials/Header') %> <%- include('partials/NavBar') %>

<style>
	body {
		background-color: #ffffff;
	}
	.card {
		background-color: white;
		border: none;
		transition: transform 0.3s;
		height: 100%;
	}
	.card:hover {
		transform: scale(1.05);
	}
	.card-text {
		color: #333;
	}
	.btn-custom {
		background-color: #87ceeb;
		color: white;
		border: none;
		padding: 5px 10px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		border-radius: 5px;
		transition: background-color 0.3s, transform 0.3s;
		cursor: pointer;
		font-size: 14px;
	}
	.btn-custom:hover {
		background-color: #00bfff;
		transform: scale(1.05);
	}
	.container {
		margin-top: 20px;
	}
	.card-img-top {
		height: 200px;
		object-fit: cover;
	}
	.card-body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 250px;
		overflow: hidden;
	}
	.card-text {
		color: #333;
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-height: 60px;
	}
	h6 {
		margin-top: 20px;
	}
	.header-btn-row {
		margin-bottom: 20px;
	}
	.small-text {
		font-size: 15px;
	}
	.badge {
		font-size: 12px;
		padding: 7px 8px;
		border-radius: 5px;
        text-align: center;
	}
</style>

<div class="container my-4">
	<div class="row header-btn-row">
		<div class="col-md-4">
			<a href="/posts/YourPost/<%= userId %>" class="btn-custom">Your Post</a>
		</div>
	</div>

	<% if (isProfileComplete === false) { %>
	<p class="alert alert-warning">
		Please complete your profile before posting.
		<a href="/profile/update">Update your profile</a>
	</p>
	<% } %>

	<div class="row">
		<% dataPost.forEach(post => { %>
		<div class="col-md-4 mb-4">
			<div class="card shadow-sm">
				<% if (post.imageUrl) { %>
				<img src="<%= post.imageUrl %>" class="card-img-top" alt="Post Image" />
				<% } %>
				<div class="card-body">
					<p class="card-text"><%= post.content %></p>

					<% if (post.PostTags && post.PostTags.length > 0) { %>
					<p class="card-text small-text">
						Tags: <% post.PostTags.slice(0, 5).forEach(postTag => { %>
						<span class="badge bg-info"><%= postTag.Tag.tag %></span>
						<% }); %>
					</p>
					<% } else { %>
					<p class="card-text small-text">Tags:</p>
					<% } %> <% if(post.User && post.User.Profile) { %>
					<p class="card-text">
						<small class="text-muted">
							Posted by <%= post.User.Profile.name %>・<%=
							formattedDate(post.createdAt) %>
						</small>
					</p>
					<% } %>
					<a href="/posts/<%= post.id %>">
						<button class="btn-custom">Detail Post</button>
					</a>
				</div>
			</div>
		</div>
		<% }) %>
	</div>
	<!-- 
    <h6 class="text-center"><strong>Total Posts:</strong> <%= totalPosts %></h6> -->
</div>

<%- include('partials/Footer') %>
