<%- include('partials/Header') %>
<%- include('partials/NavBar') %>

<style>
    body {
        background-color: #ffffff;
    }
    .card {
        background-color: white;
        border: none;
        transition: transform 0.3s;
        height: 100%;
    }
    .card:hover {
        transform: scale(1.05);
    }
    .card-text {
        color: #333;
    }
    .btn-custom {
        background-color: #87CEEB;
        color: white;
        border: none;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 5px;
        transition: background-color 0.3s, transform 0.3s;
        cursor: pointer;
        font-size: 14px;
    }
    .btn-custom:hover {
        background-color: #00BFFF;
        transform: scale(1.05);
    }
    .container {
        margin-top: 20px;
    }
    .card-img-top {
        height: 200px;
        object-fit: cover;
    }
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;
        overflow: hidden;
    }
    .bio-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    h6 {
        margin-top: 20px;
    }
    .header-btn-row {
        margin-bottom: 20px;
    }
</style>

<div class="container my-4">
    <div class="row header-btn-row">
        <div class="col-md-4">
            <a href="/posts/YourPost/<%= userId %>" class="btn-custom">Your Post</a>
        </div>
    </div>

    <div class="row">
        <% dataPost.forEach(post => { %>
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <% if (post.imageUrl) { %>
                <img src="<%= post.imageUrl %>" class="card-img-top" alt="Post Image" />
                <% } %>
                <div class="card-body">
                    <p class="card-text bio-text"><%= post.content %></p>
                    <% if(post.User && post.User.Profile) { %>
                        <p class="card-text">
                            <small class="text-muted">
                                Posted by <%= post.User.Profile.name %> <br>
                                <%= formattedDate(post.createdAt) %>
                            </small>
                        </p>
                    <% } %>
                    <a href="/posts/<%= post.id %>">
                        <button class="btn-custom">Detail Post</button>
                    </a>
                </div>
            </div>
        </div>
        <% }) %>
    </div>

    <h6 class="text-center"><strong>Total Posts:</strong> <%= totalPosts %></h6>
</div>

<%- include('partials/Footer') %>
