<%- include('partials/Header') %>
<%- include('partials/NavBar') %>

<div class="container">
    <h1><%= dataPost.User.Profile.name %> - <%= dataPost.User.username %></h1>
    <p><%= dataPost.content %></p>
    <img src="<%= dataPost.imageUrl %>" alt="Post Image" />
    <p><small>Posted on <%= formattedDate(dataPost.createdAt) %></small></p>
    <p>Word Count: <%= dataPost.wordCount %></p>
</div>


<form action="/posts/<%= dataPost.id %>/tag" method="post">
  <div class="form-group">
      <label for="tagInput">Add a Tag:</label>
      <input type="text" name="tag" class="form-control" id="tagInput" placeholder="Enter a tag" >
  </div>
  <br> <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<%  %>

<%- include('partials/Footer') %>