
  <%- include('partials/header') %>
  <%- include('partials/NavBar') %>
 
  <br> <br>
  
  
  <div class="card" style="width: 40rem;" >
  <img src="<%= dataPost.imageUrl  %>" class="card-img-top" alt="...">
  <div class="card-body">
    <h4><%= dataPost.User.username  %></h4>
    <p class="card-text">"<%= dataPost.content  %>"</p>
    <small class="text-muted">
      Posted by <%= dataPost.User.Profile.name %> | <%= new
      Date(dataPost.createdAt).toLocaleDateString() %>
    </small>
  </div>
  </div>
  

  


  <%- include('partials/footer') %>
