<%- include('partials/Header') %>
<%- include('partials/NavBar') %>

<div class="container my-4">
    <h2 class="text-center mb-4">Profile Management</h2>

    <div class="d-flex flex-column align-items-center">
        <button 
            class="btn btn-primary mb-3" 
            onclick="window.location.href='/users/<%= UserId %>/profile/create'"
            <%= hasProfile ? 'disabled' : '' %>
            style="width: 200px;"
        >
            Create Profile
        </button>

        <button 
            class="btn btn-info mb-3" 
            onclick="window.location.href='/users/<%= UserId %>/profile/<%= user.id %>'"
            <%= hasProfile ? '' : 'disabled' %>
            style="width: 200px;"
        >
            My Profile
        </button>

        <button 
            class="btn btn-warning" 
            onclick="window.location.href='/users/<%= UserId %>/profile/<%= user.id %>/edit'" 
            <%= hasProfile ? '' : 'disabled' %>
            style="width: 200px;"
        >
            Edit Profile
        </button>

    </div>
</div>

<%- include('partials/Footer') %>
